.App-header {
  background-color: #282c34;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 10px;
}

h1 {
  text-transform: uppercase;
  text-align: center;
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  font-size: 3rem;
  margin: 20px 0px;
  letter-spacing: 1px;
}

.registration-page {
  background-color: grey;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

form{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  align-items: center;
  margin-bottom: 5px;
}

label {
 display: flex; 
 width: 40%;
 letter-spacing: 0.5px;
 justify-content: space-between;
 font-size: 1.2rem;
 gap: 10px;
}

input {
  width: 40%;
}

.submitButton, .resetButton {
  margin: 5px 0px 5px 0px;
  padding: 10px;
  border: 1px solid black;
  width: 10%;
  letter-spacing: 0.5px;
  cursor: pointer;
}

.submitButton {
  background-color: green;
}

.submitButton:hover {
  background-color: darkgreen;
  color: white;
}

.submitButton:active {
  background-color: #89ee89;
  color: black;
  cursor: not-allowed;
  /*Shrinking the button when pressed*/
  transform: scale(0.90);
}

.resetButton {
  background-color: rgb(146, 6, 6);
  margin-bottom: 20px;
  margin-top: 0px;
}

.resetButton:hover { 
  background-color: rgb(179, 34, 34);
  color: white;  
}

.resetButton:active {
  background-color: rgb(238, 101, 101);
  color: black;
  cursor: not-allowed;
  /*Shrinking the button when pressed*/
  transform: scale(0.90);
}

.success-message {
  color: rgb(58, 196, 58);
  font-weight: bold;
  margin: 20px 0px 10px 0px;
  font-size: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.error-message {
  color: rgb(169, 44, 44);
  font-weight: bold;
  margin: 0px 0px 10px 0px;
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}